:root {
    --primary: #0091AD;
    --secondary: #D2FDFF;
    --background: #1D1E2C;
    --accent1: #0affed;
    --accent2: #D72483;
    --text-color: #ffffff;
}

body {
    background-color: var(--background);
}
